@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}
  
body {
    display: flex;
    justify-content: center;
    background-color: #181818;
    margin: 0;
    padding: 0;
}
  
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    /* background-color: #5d5d5d; */
}

.api-url {
    width: 35vw;
    height: 30px;
    border-radius: 10px;
    margin-top: 30px;
    background-color: #181818;
    color: rgb(200, 200, 200);
    text-align: center;
}

.api-status {
    margin-top: 30px;
    color: white;
}

.prompt {
    width: 80vw;
    height: 30px;
    border-radius: 10px;
    margin: 30px;
    background-color: #181818;
    color: rgb(200, 200, 200);
    text-align: center;
}

.slider {
    margin-bottom: 10px;
}

.slider-value {
    color: rgb(200, 200, 200);
    margin-bottom: 10px;
}

.prompt-button {
    margin-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    background-color: #747474;
    color: white;
}

.result-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: rgb(57, 12, 99); */
}

.result {
    width: 80vw;
    height: max-content;
    /* background-color: rgb(10, 35, 146); */
    margin-top: 20px;
    padding: 15px;
    border-radius: 10px;
    color: rgb(200, 200, 200);
    border-style: solid;
    border-width: 2px;
    border-color: rgb(200, 200, 200);
}

.result:last-child {
    margin-bottom: 20px;
}